<div >
    <div class="p-2">
            <div class="row">
                <img src="https://us.123rf.com/450wm/kesu87/kesu871907/kesu87190700139/127039478-hermoso-paisaje-con-amanecer-en-la-cascada-kirkjufellsfoss-y-la-monta%C3%B1a-kirkjufell-islandia-.jpg?ver=6" class="radius-img w-100" >
                
            </div>
            <div class="bg-light p-2 radius-txt shadow">
                <div class="text-center">
                    <strong class="link-success">{{text}}</strong>
                    <br>
                    <strong>Texto de prueba {{index}}</strong>
                </div>
            </div>
    </div>
</div>
