
    <div class="row ">
        <div class="col-3 p-0 m-0">
            Categoría
        </div>
        <div class="col-2 p-0 m-0 text-center" >
            <img src="https://img.icons8.com/external-others-cattaleeya-thongsriphong/344/external-Backpack-travel-outline-others-cattaleeya-thongsriphong.png" width="30">
        </div>
        <div class="col p-0" >
            <form class="form-group">
                <select class="form-control p-0 "  >
                    <option>Todas las categorías</option>
                    <option *ngFor="let categoria of categorias.Categorias;let i=index;">{{categoria.nombre_categoria}}</option >
                </select>
            </form>
        </div>
    </div>

